body    {
	background-image: url('wp3272404.jpg');
  background-size: 100%;
}

.header    {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.nav  {
  float: right;
}

a   {
    background-color: transparent;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-weight: 500;
}

a:hover   {
  background-color: lightblue ;
  color: white;

}

html, body {
  margin: 0;
  padding: 0;
}

.pic-ctn {
  width: 50vw;
  height: 20px;
}

@keyframes display {
  0% {
    transform: translateX(5px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-25px);
    opacity: 0;
  }
  100% {
    transform: translateX(-25px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 1px;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(27% - 50px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

footer  {
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 2px;
  font-weight: 500;

}