body{
	background-color: black;
}

.header {
	float: none;
	padding: 5px;
}

.xcenter {
    margin-left: 700px;
    margin-right: 500px;
}

.col {
    width: 50%;
    margin: auto;
    display: block;
}
